/* === Fonte === */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* === VARIAÇÕES CSS === */
:root {

    /* === Cores === */
    --first-color: #0080cc;
    --second-color: #ff2040;
    --text-color: #ffffff;
    --second-text-color: #7d7e80;
    --body-color: #010208;
    --second-body-color: #21232c;

    /* === Fonte === */
    --body-font: 'Poppins', sans-serif;

    /* === Espessura Fonte === */
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;

    /* === z-index === */
    --z-normal: 1;
    --z-tooltop: 10;
    --z-fixed: 100;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
    outline: none;
    font-family: var(--body-font);
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background-color: var(--body-color);
}

h1,
h2,
h3,
a,
p,
i {
    color: var(--text-color);
}

img {
    max-width: 100%;
    height: auto;
}

span {
    color: var(--first-color);
}

section {
    height: 100vh;
    padding: 6% 8% 2%;
}

.heading {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    padding-top: 3rem;
}

.home-content .dot,
.about-text .dot,
.heading .dot {
    color: var(--second-color);
}

/* === Variáveis Tema Claro === */

body.light-theme {
    --first-color: #00D245;
    --second-color: #7B29A8;
    --text-color: #000000;
    --body-color: #ffffff;
    --second-body-color: #21232c;
}

/* === Barra de Navegação === */

.navbar {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 5rem;
    width: 100%;
}

.navbar .logo {
    font-size: 3.5rem;
    font-weight: var(--font-bold);
}

.nav-links ul {
    display: flex;
    font-size: 2.2rem;
    padding-top: 1rem;
}

.nav-links li {
    margin: 0 3rem;
}

.nav-links a:hover {
    color: var(--first-color);
}

.nav-links a.active {
    color: var(--first-color);
}

.menu-mobile {
    display: none;
    position: absolute;
    top: 4rem;
    right: 2rem;
    width: 2rem;
}

.navbar.fixed {
    position: fixed;
    background: var(--body-color);
    z-index: var(--z-fixed);
}

.change-theme {
    font-size: 2.4rem;
    bottom: 1.25rem;
    color: var(--first-color);
    cursor: pointer;
    transition: color .3s;
}

/* === Início === */

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-content {
    font-size: 2.5rem;
    width: 70%;
    text-align: center;
}

.home-icon {
    font-size: 3.5rem;
    position: absolute;
    top: 80vh;
    animation: move 4s ease-in-out infinite;
}

@keyframes move {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-3rem);
    }
}

/* === Sobre === */

.about-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    padding-top: 15rem;
}

.about-text {
    width: 50rem;
    font-weight: var(--font-medium);
}

.about-text i {
    padding-right: .5rem;
    font-size: 2.5rem;
    font-weight: var(--font-regular);
}

.about-content h2 {
    font-size: 2.8rem;
}

.about-content p {
    font-size: 1.8rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: var(--second-text-color);
}

.about-content span {
    color: var(--text-color);
}

.about-img img {
    width: 50rem;
    border-radius: 50%;
}

/* === Habilidades === */

.skills-content {
    height: 100vh;
}

.skills-title {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
    font-size: 2rem;
    font-weight: var(--font-bold);
    margin: 1rem 0 2rem;
}

.skills-title i {
    font-size: 2.5rem;
    font-weight: var(--font-medium);
}

.skills-info,
.skills-data,
.skills-border {
    display: grid;
}

.skills-info {
    grid-template-columns: repeat(4, 1fr);
    gap: 4rem;
}

.skills-data {
    justify-content: center;
    text-align: center;
}

.skills-border {
    width: 10rem;
    height: 11rem;
    background-color: var(--second-body-color);
    border-radius: 3rem;
    place-items: center;
    margin-bottom: .5rem;
}

.skills-border img {
    width: 5rem;
}

.skills-name {
    font-size: 2rem;
}

.skills-subtitle {
    font-size: 1.5rem;
}

/* Animação Skills */

.skills-border:hover img {
    animation: move-skills .6s;
}

@keyframes move-skills {
    0% {
        transform: translate(0);
    }

    20% {
        transform: translateY(-6px);
    }

    40% {
        transform: translate(0);
    }

    60% {
        transform: translateY(-3px);
    }

    80% {
        transform: translate(0);
    }
}

/* === Projetos === */

.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 4rem;
    justify-content: center;
    align-items: center;
    padding-top: 8rem;
}

.projects-card {
    text-align: center;
}

.projects-link {
    display: inline-block;
    position: relative;
    overflow: hidden;
}

.projects-img{
    filter: grayscale(1);
    transition: filter .5s, transform .5s;
    width: 25rem;
    border-radius: 2rem;
}

.projects-link i {
    position: absolute;
    top: 1.8rem;
    right: 1.8rem;
    font-size: 2.4rem;
    color: var(--first-color);
    transition: transform .4s;
}

.projects:hover .projects-img {
    transform: scale(1.1);
    filter: none;
}


.projects-link:hover .ri-arrow-right-circle-line {
    transform: translate(.5rem, -.5rem) rotate(-30deg);
}

.projects-subtitle {
    font-size: 1.4rem;
}

.projects-title {
    font-size: 2rem;
    font-weight: var(--font-semi-bold);
}

/* ========== Contato ========== */

.contact-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 16rem;
}

.contact-title {
    font-size: 2rem;
    font-weight: var(--font-bold);
    margin-bottom: 2rem;
}

.contact-title i {
    font-size: 2.2rem;
    font-weight: initial;
}

.contact-info,
.contact-data,
.contact-form {
    display: grid;
}

.contact-info {
    row-gap: 5rem;
}

.contact-data {
    row-gap: .4rem;
}

.contact-data-title {
    font-size: 2rem;
    color: var(--first-color);
}

.contact-data-info {
    font-size: 2rem;
    color: var(--text-color);
}

.contact-button {
    width: max-content;
    display: inline-flex;
    align-items: center;
    column-gap: .6rem;
    font-size: 2rem;
}

.contact-button i {
    font-size: 1.8rem;
    transition: transform .3s;
}

.contact-button:hover i {
    transform: translateX(.5rem);
}

.contact-form {
    position: relative;
    row-gap: 3rem;
}

.contact-form-div {
    position: relative;
    height: 7rem;
    width: 38rem;
}

.contact-form-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid var(--first-color);
    border-radius: 4rem;
    padding: 3rem 3rem;
    font-size: 1.5rem;
    background-color: var(--body-color);
    color: var(--text-color);
    outline: none;
    z-index: 1;
}

.contact-form-tag {
    position: absolute;
    top: -1.5rem;
    left: 1.5rem;
    z-index: var(--z-tooltop);
    background-color: var(--body-color);
    color: var(--text-color);
    font-size: 1.5rem;
    font-weight: var(--font-bold);
    padding: .4rem;
}

.contact-form-area {
    height: 20rem;
}

.contact-form-area textarea {
    resize: none;
}

.contact-form .contact-button {
    border: none;
    background: none;
    color: var(--text-color);
    font-size: 2rem;
    font-weight: var(--font-bold);
    cursor: pointer;
    outline: none;
    margin: -3rem 1.5rem;
}

.contact-submit-message {
    font-size: 1.5rem;
    position: absolute;
    bottom: .8rem;
    left: 1.5rem;
}

/* Status color */

.color-red {
    color: hsl(4, 71%, 50%);
}

.color-blue {
    color: hsl(207, 56%, 45%);
}

/* === Rodapé === */

.footer-container {
    padding: 3rem 0 7rem;
    text-align: center;
}

.footer-container p {
    font-size: 1.9rem;
    font-weight: var(--font-bold);
}

.footer-container a {
    font-size: 1.75rem;
}

.footer-title {
    font-size: 2.5rem;
    font-weight: var(--font-bold);
    margin-bottom: 1rem;
}

.footer-list,
.footer-social {
    display: flex;
    justify-content: center;
}

.footer-list {
    margin: 2.5rem 0;
    column-gap: 2.5rem;
}

.footer-link {
    color: var(--text-color);
}

.footer-link:hover {
    color: var(--first-color);
}

.footer-social {
    column-gap: 1.25rem;
}

.footer-social-link i {
    font-size: 3rem;
    transition: transform .3s;
}

.footer-social-link:hover {
    animation: move-social .8s;
}

@keyframes move-social {
    0% {
        transform: translate(0);
    }

    20% {
        transform: translateY(-6px);
    }

    40% {
        transform: translate(0);
    }

    60% {
        transform: translateY(-3px);
    }

    80% {
        transform: translate(0);
    }
}

/* === Barra de rolagem === */

::-webkit-scrollbar {
    width: 0.7rem;
    background-color: var(--second-body-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--first-color);
    border-radius: 1rem;
}